.center-element {
  display: flex;
  justify-content: center;
}

.card {
    font-family: sans-serif;
    border-radius: 10px;
    padding: 1%;
    border: 5px solid;
    /* background-color: steelblue; */
    margin: 3%;
}

.header {
    font-family: sans-serif;
    font-size: 2rem;
    text-align: center;
}

body {
    /* text-align: center; */
    font-family: sans-serif;
    font-size: 1.2rem
}

.darkMode {
    background-color: black;
    color: white;
}